@import "../../assets/scss/variables.scss";

.button {
  padding: $buttonPadding;
  cursor: pointer;
  border-radius: $buttonBorderRadius;
  width: fit-content;
  height: fit-content;
  background-color: $buttonColor;
  color: $buttonTextColor;
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $buttonMinWidth;
  font-weight: $buttonFontWeight;
  font-size: $buttonFontSize;
  line-height: 24px;

  &.no-padding {
    padding: 0;
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &.no-background {
    color: $buttonColor;
    background-color: transparent;
    border: 1px solid $buttonColor;
    padding: $buttonNoBgPadding;

    &:hover {
      color: $buttonColorHover;
      background-color: $buttonNoBgColorHover;
      border: 2px solid $buttonColorHover;
      padding: $buttonNoBgPaddingHover;
    }
    
    

    &.info {
      color: $buttonInfoColor;
      border-color: $buttonInfoColor;
      background-color: $buttonNoBgColorHover;

      &:hover {
        color: $buttonInfoColorHover;
        border-color: $buttonInfoColorHover;
        background-color: $buttonNoBgColorHover;
      }
    }
  }

  &:hover {
    background-color: $buttonColorHover;

    .button-image {
      opacity: 1;
    }
  }

  &.button-link {
    text-decoration: none;
  }

  &.button-link:hover {
    text-decoration: none;
  }

  &.with-icon {

    &.no-text {
    }
  }

  .button-image {
    width: 24px;
    height: 24px;
    opacity: 0.8;

    img {
      width: 100%;
    }
  }

  .button-icon {
    color: $buttonTextColor;
    margin-right: 2px;
  }

  &.transparent {
    background-color: transparent;
    color: $buttonTransparentColor;

    &:hover {
      color: $buttonTransparentColorHover;
    }

    .button-icon {
      color: $buttonTransparentColor;

      &:hover {
        color: $buttonTransparentColorHover;
      }
    }
  }

  &.no-text {
    min-height: 22px;
  }

  &.wide {
    text-align: center;
    width: calc(100% - 30px);
    &.with-icon {
      padding-left: 15px;
    }

    .button-icon {
    }
  }

  &.cancel {
    background-color: $buttonCancelColor;

    &:hover {
      background-color: $buttonCancelColorHover;
    }
  }

  &.info {
    background-color: $buttonInfoColor;

    &:hover {
      background-color: $buttonInfoColorHover;
    }
  }

  .button-loader {
    position: absolute;
    left: -12px;
  }
}