@import "../../assets/scss/variables.scss";

.form-buttons-bottom-container {
  margin-top: 5px;
}

.form-error-bottom-container {
  border: 1px solid $fieldError;
  border-radius: 3px;
  margin-bottom: 16px;

  .form-error-bottom-text {
    color: $fieldError;
    font-size: 12px;
    font-size: 12px;
    margin: 5px 10px;
  }
}

.form-error-wrapper {
  margin-top: $formErrorMarginTop;
  margin-bottom: $formErrorMarginBottom;
  display: flex;
  align-items: center;

  .form-error-block {
    width: 100%;
    height: fit-content;
    border: 1px solid $formErrorBorderColor;
    border-radius: $formErrorBorderRadius;
    padding: $formErrorContainerPadding;
  
    &.fixed {
      overflow: hidden;
      &.empty {
        border: none;
      }
      .form-error-block-text {
        overflow: hidden;
        max-height: $formErrorHeight;
        min-height: $formErrorHeight;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  
    &.no-border {
      border: none;
    }
  
    &.no-padding {
      padding: 0;
    }
  
    &.left {
      .form-error-block-text {
        text-align: left;
      }
    }
  
    &.center {
      .form-error-block-text {
        text-align: center;
      }
    }
  
    &.right {
      .form-error-block-text {
        text-align: right;
      }
    }
  
    .form-error-block-text {
      color: $formErrorColor;
      font-size: $formErrorTextSize;
      font-size: $formErrorTextSize;
    }
  }
}

