@import './variables.scss';
@import './fonts.scss';

* {
  font-family: $mainFont;
  margin: 0;
  padding: 0;
  color: $textColor;
  font-style: normal;
  font-weight: normal;
  font-size: $fontSize;
  line-height: $fontHeight;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: $headerFont;
  color: $textColor;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: $h2Size;
  line-height: $h2Height;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: $h3Size;
  line-height: $h3Height;
}

body {
  background-color: $bgcolor;
}

.total-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

#main-wrapper {
  display: flex;
  min-width: 100%;
  width: fit-content;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  background-color: #FCFDFF;

  .main-container {
    flex: 1 1;
    display: flex;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;
    position: relative;

    .component-container {
      flex: 1 1;
    }
  }

  .main-tab-panel {
    flex: 1 1;
    max-height: 40px;
    min-height: 40px;
  }
}

.main-loader {
  z-index: 900;
}

.content-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;

  .container-block {
    flex: 1 1;
  }
}

.container-block {
  width: 100%;
  height: 100%;
  overflow: auto;

  &.main {
    padding: 0 10px;
  }
}

.custom-select__control {
  .custom-select__dropdown-indicator {
    background: url(/images/dropDown.png) no-repeat 50% 50%;
    padding: 10px 15px;
    svg {
      display: none;
    }
  }

  &.custom-select__control--menu-is-open {
    .custom-select__dropdown-indicator {
      background-image: url(/images/dropUp.png);
    }
  }
}

.block {
  background-color: $blockColor;
}

*::-webkit-scrollbar{
  width: $scrollbarSize;
  height: $scrollbarSize;
}

*::-webkit-scrollbar-track{
  background-color: $scrollbarColor;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
  
}

*::-webkit-scrollbar-thumb{
  background-color: $scrollbarBg;
  border-radius: 15px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.delimiter {
  background-color: $textBgColor;
  width: 2px;
  margin: 0 5px;
}

.text-title {
  margin-right: 5px;
  color: $textBgColor;
}

.flex-column {
  flex-direction: column;
}

.flex,
.flex-column {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.vertical-center {
    align-items: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.flex-start {
    justify-content: flex-start;
  }

  .flex-item {
    flex: 1 1;
  }

}

@mixin p-x {
  $length: 20;

  @for $i from 1 through $length {
    .p-#{$i} {
      padding: ($i)+px;
    }

    .p-l-#{$i} {
      padding-left: ($i)+px;
    }

    .p-r-#{$i} {
      padding-right: ($i)+px;
    }

    .p-t-#{$i} {
      padding-top: ($i)+px;
    }

    .p-b-#{$i} {
      padding-bottom: ($i)+px;
    }

    .p-s-#{$i} {
      padding: 0 ($i)+px;
    }

    .p-u-#{$i} {
      padding: ($i)+px 0;
    }
  }
}

@mixin p-x-middle {
  $length: 50;
  $i: 20;

  @while $i < $length {
    // do stuff
    $i: $i + 5;

    .p-#{$i} {
      padding: ($i)+px;
    }

    .p-l-#{$i} {
      padding-left: ($i)+px;
    }

    .p-r-#{$i} {
      padding-right: ($i)+px;
    }

    .p-t-#{$i} {
      padding-top: ($i)+px;
    }

    .p-b-#{$i} {
      padding-bottom: ($i)+px;
    }

    .p-s-#{$i} {
      padding: 0 ($i)+px;
    }

    .p-u-#{$i} {
      padding: ($i)+px 0;
    }
  }
}

@mixin p-x-large {
  $length: 100;
  $i: 50;

  @while $i < $length {
    // do stuff
    $i: $i + 10;

    .p-#{$i} {
      padding: ($i)+px;
    }

    .p-l-#{$i} {
      padding-left: ($i)+px;
    }

    .p-r-#{$i} {
      padding-right: ($i)+px;
    }

    .p-t-#{$i} {
      padding-top: ($i)+px;
    }

    .p-b-#{$i} {
      padding-bottom: ($i)+px;
    }

    .p-s-#{$i} {
      padding: 0 ($i)+px;
    }

    .p-u-#{$i} {
      padding: ($i)+px 0;
    }
  }
}

@mixin m-x {
  $length: 20;

  @for $i from 1 through $length {
    .m-#{$i} {
      margin: ($i)+px;
    }

    .m-l-#{$i} {
      margin-left: ($i)+px;
    }

    .m-r-#{$i} {
      margin-right: ($i)+px;
    }

    .m-t-#{$i} {
      margin-top: ($i)+px;
    }

    .m-b-#{$i} {
      margin-bottom: ($i)+px;
    }

    .m-s-#{$i} {
      margin: 0 ($i)+px;
    }

    .m-u-#{$i} {
      margin: ($i)+px 0;
    }
  }
}

@mixin m-x-middle {
  $length: 50;
  $i: 20;

  @while $i < $length {
    // do stuff
    $i: $i + 5;

    .m-#{$i} {
      margin: ($i)+px;
    }

    .m-l-#{$i} {
      margin-left: ($i)+px;
    }

    .m-r-#{$i} {
      margin-right: ($i)+px;
    }

    .m-t-#{$i} {
      margin-top: ($i)+px;
    }

    .m-b-#{$i} {
      margin-bottom: ($i)+px;
    }

    .m-s-#{$i} {
      margin: 0 ($i)+px;
    }

    .m-u-#{$i} {
      margin: ($i)+px 0;
    }
  }
}

@mixin m-x-large {
  $length: 100;
  $i: 50;

  @while $i < $length {
    // do stuff
    $i: $i + 10;

    .m-#{$i} {
      margin: ($i)+px;
    }

    .m-l-#{$i} {
      margin-left: ($i)+px;
    }

    .m-r-#{$i} {
      margin-right: ($i)+px;
    }

    .m-t-#{$i} {
      margin-top: ($i)+px;
    }

    .m-b-#{$i} {
      margin-bottom: ($i)+px;
    }

    .m-s-#{$i} {
      margin: 0 ($i)+px;
    }

    .m-u-#{$i} {
      margin: ($i)+px 0;
    }
  }
}

@include p-x;
@include p-x-middle;
@include p-x-large;
@include m-x;
@include m-x-middle;
@include m-x-large;