//colors
$mainColor: #F4976F;
$mainColorHover: #E6875F;
$additionalColor: #7764A0;
$additionalColorHover: #7B64B9;
$bgcolor: #FFFFFF;
$blockColor: #FFFFFF;
$blockShadowColor: rgba(142, 140, 140, 0.15);
$blockColorDarker: #0f1215;
$blockColorDarkerTransparent: #0f1215c2;
$pendingColor: #cfa722;
$loaderColor: $mainColor;
$textColor: #403E45;
$textHeaderColor: #3A3645;
$textBgColor: #646464;
$linkColor: $mainColor;
$linkColorHover: $mainColorHover;
$textColorInput: #2b2b2b;
$stepsLineColor: #0d1013;
$presentationColor: #b6f7f7;
$dataListItemTitleColor: #2e3338;
$dataListItemTitleColorHover: #3a4046;
$dataListItemContentColor: #22272b;
$dataListItemContentColorHover: #22272b;
//special-colors
$headerColor: white;
$headerHeight: 80px;
$authBlockBg: $blockColor;
$scenarioHeaderBorder: 1px solid #E5E5E5;
$scenarioSelectColor: $blockColor;
$baseBorderColor: #C4C4C4;
$baseBorder: 1px solid $baseBorderColor;
$planPanelWidth: 250px;
//fonts
$mainFont: 'Spartan';
$headerFont: 'Atkinson Hyperlegible';
$fontSize: 16px;
$fontHeight: 16px;
$h2Size: 26px;
$h2Height: 31px;
$h3Size: 18px;
$h3Height: 28px;
//button
$buttonColor: $mainColor;
$buttonColorHover: $mainColorHover;
$buttonTransparentColor: $mainColor;
$buttonTransparentColorHover: $mainColorHover;
$buttonCancelColor: #843c3f;
$buttonCancelColorHover: #9e5255;
$buttonInfoColor: $additionalColor;
$buttonInfoColorHover: $additionalColorHover;
$buttonColorDark: #012f2f;
$buttonTextColor: white;
$buttonPadding: 12px 15px;
$buttonNoBgColorHover: white;
$buttonNoBgPadding: 11px 14px;
$buttonNoBgPaddingHover: 10px 13px;
$buttonBorderRadius: 6px;
$buttonMinWidth: 120px;
$buttonFontSize: 14px;
$buttonFontWeight: 500;
//input
$inputBorder: $baseBorderColor;
$inputBorderSize: 1px;
$inputBorderRadius: 2px;
$inputLineHeight: 33px;
$inputHeight: 35px;
$inputFontSize: $fontSize;
$inputPadding: 10px;
$inputInlineBorder: 2px dashed #494949;
$inputTransparentColor: #e9e9e9;
$inputIncrementSize: 6px;
$inputIncrementHeight: 8px;
$inputIncrementColor: $mainColor;
$inputIncrementColorHover: $mainColorHover;
$inputIncrementDistance: 6px;
//field
$fieldBottom: 29px;
$fieldLessBottom: 10px;
$fieldError: #FD5D47;
$fieldErrorHeight: 15px;
$fieldErrorFontSize: 11px;
$fieldErrorBottom: -14px;
$fieldLabelFontSize: 18px;
$fieldLabelLineHeight: 26px;
$fieldLabelMarginBottom: 10px;
$fieldLabelMarginRight: 15px;
$fieldLabelPaddingTop: 4px;
$fieldTooltipTopMargin: 26px;
$fieldTooltipLeftMargin: 10px;
$fieldLineMarginRight: 15px;
$fieldLargeWidth: 205px;
$fieldMediumLargeWidth: 180px;
$fieldMediumWidth: 170px;
$fieldShortWidth: 100px;
$fieldMiniWidth: 80px;
$fieldWholeDragWidth: 408px;
//form
$formErrorColor: $fieldError;
$formErrorBorderColor: $formErrorColor;
$formErrorMarginBottom: 5px;
$formErrorMarginTop: 5px;
$formErrorBorderRadius: 3px;
$formErrorTextSize: 12px;
$formErrorContainerPadding: 5px 10px;
$formErrorHeight: 17px;
//checkbox
$checkboxLabelMargin: 10px;
$checkboxWidth: 15px;
$checkboxHeight: 20px;
$checkboxBgColor: #eee;
$checkboxBgHoverColor:#ccc;
$checkboxCheckedBgColor: $buttonTransparentColor;
$checkboxCheckedBgHoverColor: $buttonTransparentColorHover;
$checkboxOkColor: white;
$checkboxOkTop: 2px;
$checkboxOkLeft: 5px;
$checkboxOkWidth: 3px;
$checkboxOkHeight: 8px;
$checkboxOkBorder: 2px;
//radio
$radioLabelMargin: 10px;
$radioWidth: 15px;
$radioHeight: 15px;
$radioBgColor: white;
$radioBgHoverColor:#eee;
$radioCheckedBgColor: white;
$radioCheckedBgHoverColor: #eee;
$radioOkColor: #05BB9A;
$radioOkHoverColor: #6fe9ef;
$radioBorderSize: 2px;
$radioBorder: $radioBorderSize solid #05BB9A;
$radioBorderRadius: 20px;
$radioOkTop: 2px;
$radioOkLeft: 2px;
$radioOkWidth: 7px;
$radioOkHeight: 7px;
$radioOkBorder: 3px;
$radioContentBorder: $baseBorder;
$radioContentPadding: 18px;
$radionContentTopMargin: 18px;
$radioCheckMarginTop: 4px;
//select
$selectHeight: 35px;
$selectBorderRadius: 2px;
$selectBorder: $baseBorder;
$selectHoverBorder: $selectBorder;
$selectShadow: none;
$selectHoverShadow: none;
$selectMenuMarginTop: 0px;
$selectMenuShadow: $selectShadow;
$selectMenuBorder: $selectBorder;
$selectMenuBorderRadius: 0;
$selectMenuBorderTop: 0;
$selectOptionActive: transparent;
$selectOptionHover: rgba(53, 188, 180, 0.2);
$selectOptionMargin: 5px;
$selectOptionBorderRadius: 2px;
$selectOptionActiveFontColor: $textColor;
$selectOptionFixedMargin: 24px;
$selectOptionFixedBottom: -12px;
$selectMicroWidth: 80px;
$selectMicroNoArrowWidth: 25px;
//progressbar
$progressBarEmptyColor: $baseBorderColor;
$progressBarFillColor: linear-gradient(90deg, #66D4E2 0%, #A482E4 100%);
$progressBarBorder: 1px solid #05BB9A;
$progressBarBorderRadius: 2px;
$progressBarStepSize: 14px;
$progressBarStepTop: -4px;
$progressBarActiveStepSize: 23px;
$progressBarActiveTop: -9px;
//tooltip
$tooltipIconColor: $buttonColor;
$tooltipIconColorHover: $buttonColorHover;
$tooltipBorder: 2px dashed $mainColor;
$tooltipBorderHover: 2px dashed $mainColorHover;
$tooltipShowBgColor: rgba(255, 255, 255, 0.9);
$tooltipShowBorder: $baseBorder;
$tooltipShowBorderRadius: 2px;
$tooltipShowFontColor: $textColor;
$tooltipShowFontSize: 14px;
$tooltipShowLineHeight: 17px;
//modal
$modalWidth: 300px;
$modalMaxHeight: 595px;
$modalHeaderPadding: 0 20px 0 20px;
$modalHeaderTitleMarginTop: 0px;
$modalContentPadding: 12px 20px 20px 20px;
$modalCloseColor: $additionalColor;
$modalCloseColorHover: $additionalColorHover;
//note
$noteBgColor: #0f1215;
$noteTextColor: #494949;
$noteWarningBgColor: #7d5d36;
$noteWarningTextColor: #494949;
$noteErrorBgColor: #9e5255;
$noteErrorTextColor: #494949;
$noteInfoBgColor: #3c8282;
$noteInfoTextColor: #494949;
//infoBox
$infoBoxIcon: $additionalColor;
$infoBoxIconMarginRight: 13px;
$infoBoxFontSize: 14px;
$infoBoxLineHeight: 22px;
//dragline
$dragLineHeight: 5px;
$dragLineBg: #E5E5E5;
$dragLineFilledBg: $mainColor;
$dragLineDraggerRadius: 7px;
$dragLineDraggerColor: $mainColor;
$dragLineDraggerTop: $dragLineDraggerRadius - $dragLineHeight/2;
$dragLineLabelRadius: 5px;
$dragLineLabelTop: $dragLineLabelRadius - $dragLineHeight/2;

//scrollbar
$scrollbarSize: 4px;
$scrollbarBg: $mainColor;
$scrollbarColor: white;
//connectstatus
$connectStatusConnected: #05BB9A;
$connectStatusDisconnected: #394148;
//switcherColors
$switcherBgColor: #5f8484;
$switcherRoundColor: #373e46;
$switcherRoundColorActive: #004646;
//containers
$fixedContainerSize: 1320px;