//colors
$bgcolor: #171c20;
$blockColor: #22272b;
$blockColorDarker: #0f1215;
$blockColorDarkerTransparent: #0f1215c2;
$buttonColor: #c99140;
$buttonColorHover: #f9b553;
$buttonCancelColor: #843c3f;
$buttonCancelColorHover: #9e5255;
$buttonColorDark: #805a24;
$buttonTextColor: white;
$loaderColor: #f9b553;
$textColor: #bfbfbf;
$textBgColor: #7d7d7d;
$linkColor: #b17f36;
$linkColorHover: #e6a74b;
$textColorInput: #2b2b2b;
$inputError: #FD5D47;
$inputBorder: #e9e9e9;
$stepsLineColor: #0d1013;
$presentationCOlor: #b6f7f7;
$dataListItemTitleColor: #2e3338;
$dataListItemTitleColorHover: #2e3338;
$dataListItemContentColor: #22272b;
$dataListItemContentColorHover: #22272b;
//scrollbar
$scrollbarSize: 15px;
$scrollbarBg: #dea24b;
$scrollbarColor: #251e14;
//connectstatus
$connectStatusConnected: #c99140;
$connectStatusDisconnected: #394148;