.button-line {
  display: flex;
  justify-content: center;
  align-items: center;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.top {
    margin-top: 10px;
  }

  &.bottom {
    margin-bottom: 10px;
  }

  .button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}