@import "../../assets/scss/variables.scss";

  .input-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    line-height: $inputLineHeight;
    min-height: $inputHeight;
    max-height: $inputHeight;
    box-sizing: border-box;
    padding: 0;
    border: $inputBorderSize solid $inputBorder;
    border-radius: $inputBorderRadius;

    &.error {
      border: $inputBorderSize solid $fieldError;
    }

    &.increment {
      input {
        padding-right: ($inputPadding*2)+($inputIncrementSize*2);
        width: calc(100% - #{($inputPadding*3)+($inputIncrementSize*2)});
      }
    }

    input {
      font-size: $fontSize;
      outline: 0;
      border: 0;
      line-height: $inputHeight;
      padding: 0 $inputPadding;
      width: calc(100% - #{$inputPadding*2});
      color: $textColorInput;
    }

    &.inline-input {
      border-radius: 0;
      border: none;
      border-bottom: $inputInlineBorder;
      input {
        background: transparent;
        color: $inputTransparentColor;
      }
    }

    .increment-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      right: $inputPadding;
      min-height: $inputHeight;
      justify-content: center;
      height: 100%;

      .increment-button {
        border: $inputIncrementHeight solid $inputIncrementColor;
        border-left: $inputIncrementSize solid transparent;
        border-right: $inputIncrementSize solid transparent;
        cursor: pointer;

        &.up {
          border-top: $inputIncrementHeight solid transparent;
          margin-bottom: $inputIncrementDistance;
        }

        &.down {
          border-bottom: $inputIncrementHeight solid transparent;
        }

        &:hover {
          &.up {
            border-bottom: $inputIncrementHeight solid $inputIncrementColorHover;
          }
          &.down {
            border-top: $inputIncrementHeight solid $inputIncrementColorHover;
          }
        }
      }
    }
  }
