@import "../../assets/scss/variables.scss";

.tooltip-container {
  display: flex;
  align-items: center;
  width: fit-content;
  border-bottom: $tooltipBorder;

  i {
    color: $tooltipIconColor;
    cursor: default;
  }

  &:hover {
    border-bottom: $tooltipBorderHover;

    i {
      color: $tooltipIconColorHover;
    }
  }

  &.only-icon {
    border: none;

    &:hover {
      border: none;
    }
  }

  &.no-border {
    border: none;

    &:hover {
      border: none;
    }
  }

  .__react_component_tooltip {
    background: $tooltipShowBgColor;
    border: $tooltipShowBorder;
    border-radius: $tooltipShowBorderRadius;
    color: $tooltipShowFontColor;
    font-size: $tooltipShowFontSize;
    line-height: $tooltipShowLineHeight;

    &:before {
      bottom: -5px;
    }

    &:after {
      border-right: $tooltipShowBorder!important;
      border-bottom: $tooltipShowBorder!important;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      background: $tooltipShowBgColor;
      border-left: none!important;
      border-top: none!important;
      bottom: -6px!important;
      margin-left: -5px!important;
    }
  }

  &.bottom {
    .__react_component_tooltip {
      &:after {
        border-left: $tooltipShowBorder!important;
        border-top: $tooltipShowBorder!important;
        border-right: none!important;
        border-bottom: none!important;
      }
    }
  }

  &.right {
    .__react_component_tooltip {
      max-width: 350px;
      &:after {
        border-left: $tooltipShowBorder!important;
        border-top: none!important;
        border-right: none!important;
        border-bottom: $tooltipShowBorder!important;
        bottom: 6px!important;
        margin-right: 5px!important;
        right: -6px!important;
        left: 0!important;
      }
    }
  }
}