@import "../../assets/scss/variables.scss";

.checkbox-container {
  border: none;
  align-items: center;
  display: flex;
  border-radius: 0;
  min-height: $checkboxHeight;
  line-height: normal;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  input {
    width: $checkboxWidth;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark:after {
      display: block;
    }
    &:checked ~ .checkmark {
      background-color: $checkboxCheckedBgColor;
    }
  }

  .checkmark {
    height: $checkboxWidth;
    width: $checkboxWidth;
    cursor: pointer;
    background-color: $checkboxBgColor;
    margin-right: $checkboxLabelMargin;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: $checkboxOkLeft;
      top: $checkboxOkTop;
      width: $checkboxOkWidth;
      height: $checkboxOkHeight;
      border: solid $checkboxOkColor;
      border-width: 0 $checkboxOkBorder $checkboxOkBorder 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    background-color: $checkboxBgHoverColor;
  }
  &:hover input:checked ~ .checkmark {
    background-color: $checkboxCheckedBgHoverColor;
  }

  &.error {
      border: none;
      border-radius: 0;
      border-bottom: $inputBorderSize dotted $fieldError;
  }

}
